@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
/*reset*/
*{margin:0; padding: 0;}
a {color: inherit; text-decoration: none;}
li {list-style: none;}

/*layout*/
body {
    font-size: 16px;
    font-family: 'NanumSquare', sans-serif;
}

.wrap {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,1);
    width: 100%;
    height: 90px;
    z-index: 200;
    line-height: 90px;
}

header .innerHeader {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

header .innerHeader .logo {
    float: left; 
}

header .innerHeader .logo img {
    position: absolute;
    top: 25px;
}

header .innerHeader .logo .hover {
    display: none;
}

header .innerHeader .logo a {
    display: block;
    width: 100%;
    height: 100%;
}

header .innerHeader .gnb {
    float: left;
    line-height: 90px;
    margin-left: 280px;
    text-align: center;
}

header .innerHeader .gnb>ul>li {
    float: left;
    margin-right: 70px;
}

header .innerHeader .gnb>ul>li .up {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

header .innerHeader .tnb {
    float: left;
    line-height: 90px;
}

header .innerHeader .tnb li {
    float: left;
    margin-right: 20px;
}

header .innerHeader .tnb li:last-child {
    margin-right: 0;
}

header .innerHeader .tnb li a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 16px;
}

header .innerHeader .btn {
    display: block;
    font-size: 17px;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 2;
    margin-top: 27px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    transition: all .3s;
    float: right;
    color: #fff;
}

header .innerHeader .tnb li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

header .innerHeader i {
    float: right;
}

header:hover {
    background: #fff;
}

header:hover .innerHeader .logo .hover {
    display: block;
}

header:hover .innerHeader .gnb>ul>li a{
    color: #000;
}

header:hover .innerHeader .tnb li a {
    color: #000;
}

header:hover .innerHeader .btn {
    color: #000;
    border: 1px solid #999;
}

header .innerHeader .btn:hover {
    background: #f0001e;
    transition: all .3s;
    border: 1px solid #fff;
    color: #fff;
}

header .innerHeader .gnb>ul>li a:hover {
    color: #f0001e;
    transition: .3s;
}

header .innerHeader .gnb ul li .dept01 {
    padding: 10px 0 20px;
    display: none;
}

header .innerHeader .gnb ul li ul li {
    line-height: 2.5;
    font-size: 16px;
    
}

header .innerHeader .gnb ul li ul {
    display: none;
}

header .gnbMo {
    display: none;
}

.menu_wrap {
    display: none;
}

/*section.main*/
.main {
    width: 100%;
    height: 700px;
    background: url(../img/sub3main-1.png)no-repeat center bottom/cover;
    position: relative;
    background-attachment: fixed;
}

.main .mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    animation-name: titani;
    animation-duration: 1s;
}

.main .mainTitle h1 {
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    margin-top: 20px;
}

.main .mainTitle hr {
    width: 80px;
    height: 7px;
    margin: 0px auto 50px;
    background: rgba(255,255,255,0.3);
    border: 0;
    position: relative;
    animation: hrani 1s;
}

@keyframes hrani {
    0% {width: 0px;}
    30% {width: 0px;}
    100% {width: 80px;}
}

@keyframes titani {
    0% {opacity: 0; }
    30% {opacity: 0; }
    100% {opacity: 1; }
}

.main .mainTitle hr:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.main .mainTitle hr:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

/*section.solution*/

/*title 애니*/
.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.7em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/*solution 이미지 흑백*/
.sharebtn_custom { filter: grayscale(50%) opacity(0.6); transition: all .3s; } 
.sharebtn_custom:hover { filter: none; transition: all .5s; }




.solution {
    padding: 100px;
    background: #fff;
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 40px;
    font-weight: bold;
    color: #000;
    margin-bottom: 30px;
}

.title p {
    font-size: 16px;
    color: #777;
    margin-bottom: 100px;
}

.solution>ul {
    width: 1100px;
    margin: 0 auto ;
    overflow: hidden;
}

.solution>ul>li {
    float: left;
    width: 47%;
    margin-right: 6%;
    margin-bottom: 70px;
}

.solution>ul>li:nth-child(2),
.solution>ul>li:nth-child(4) {
    margin-right: 0;
}

.solution .img {
    width: 100%;
    overflow: hidden;
}

.solution .img img {
    width: 100%;
}

.solution h3 {
    
    margin: 20px 0;
    font-size: 25px;
    font-weight: bold;
    border-left: 5px solid #f0001e;
    padding-left: 10px;
}

.solution .text ul li {
    line-height: 2;
    font-size: 16px;
    margin-left: 10px;
}

.solution .text ul li p {
    position: relative;
    color: #555;
}

.solution .text ul li p:before {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #555;
}

.solution .btn {
    text-align: center;
}

.solution .btn a {
    background: #f0001e;
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.solution .btn a .text {
    position: relative;
}

.solution .btn .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .3s;
}

.solution .btn a:hover .mask {
    width: 100%;
    background: #000;
}

/*section.csv*/
.csv {
    padding: 100px;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #e7e7e9;
}

.csv .inner {
    width: 1100px;
    margin: 0 auto;
}

.csv .inner h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    width: 200px;
    margin: 0 auto 70px;
    padding: 10px 0;
    color: #777;
}

.csv .inner>ul {
    width: 100%;   
    margin-bottom: 100px;
}

.csv .inner>ul>li {
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
}

.csv .photo {
    width: 50%;
    float: left;
}

.csv .photo p.img {
    width: 100%;
    overflow: hidden;
}

.csv .photo p.img img {
    width: 100%;
}

.csv .text {
    width: 50%;
    float: right;
    
    padding: 40px 40px;
    box-sizing: border-box;
}

.csv .text h4 {
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
}

.csv .text p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.csv .text ul li p{
    font-size: 12px;
    margin-left: 10px;
    position: relative;
    margin-bottom: 10px;
    color: #777;
}

.csv .text ul li p:before {
    content: '';
    width: 4px;
    height: 4px;
    background: #777;
    position: absolute;
    top: 10px;
    left: -10px;
    border-radius: 50%;
}



/*footer*/
footer {
    width: 100%;
    height: 150px;
    background: #e7e7e9;
    position: relative;
}

footer .inner {
    width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

footer .inner .ftlogo {
    float: left;
    line-height: 150px;
}

footer .inner .copyright {
    float: left;
    margin-top: 40px;
    margin-left: 80px;
    color: #777;
}

footer .inner .copyright .list {
    overflow: hidden;
}

footer .inner .copyright .list li {
    float: left;
    margin-right: 30px;
}

footer .inner .copyright .list li:nth-child(1) {
    margin-bottom: 20px;
}

footer .inner .sns {
    overflow: hidden;
    float: right;
    margin-top: 50px;
}

footer .inner .sns li {
    float: left;
    margin-left: 20px;
}

footer a.btn {
    position: absolute;
    top: 50%;
    right: 50px;
    display: inline-block;
    transform: translateY(-50%);
}


/*반응형1024*/
@media screen and (max-width: 1024px) {
    header {height: 90px;}
    header .innerHeader {width: 95%; min-width: 90%;}
    header .gnb,header .tnb, header .innerHeader .btn {display: none;}
    
    
        
    header .gnbMo {
       display: block;
       float: right;
       margin-top: 25px;
    }
        
    header .gnbMo #bar_btton {
        display: table;
        width: 100%;
        height: 100%;
    }
    
    header:hover .gnbMo #bar_button i{
    color: #000;
}
    
    header .gnbMo #bar_button i {
        font-size: 40px;
        color: #fff;
    }
    
    .menu_wrap {
        position: fixed;
        display: inline-block;
        width: 60%;
        min-height: 100%;
        height: 100%;
        z-index: 999;
        top: 0px;
        right: -100%;
        background-color: #fff;
        z-index: 10000;
    }
    .menu_wrap>ul>li i {
        margin-left: 5px;
    }
        
    .menu_wrap>ul>li>span {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid #e7e7e9;
        border-top: 1px solid #e7e7e9;
        padding: 4% 0 4% 5%;
        font-size: 30px;
    }
    .menu_wrap ul li ul li a {width: 100%; height: 100%; display: block;}
    
    .menu_wrap ul li ul {font-size: 25px; padding: 10px 0; background: #e7e7e9}
    .menu_wrap ul li ul li {padding: 2% 0 2% 5%;}
    .menu_wrap #close_menu_button {
        position: absolute;
        top: 0px;
        right: 0;
        font-size: 35px;
        color: #000;
        padding: 3% 4%;
    }
    #cover_close_button {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.6);
        z-index: 998;
        display: none;
    }
    
/*    .main*/
    
    .title { width: 90%; margin: 0 auto;}
    
    .solution>ul {width: 95%;}
    .solution .text ul li {font-size: 14px;}
    
    .csv .inner {width: 95%;}
    .csv .text {padding: 0 20px;}
    .csv .text p {font-size:14px;}
    .csv .text p br {display: none;}
    .csv .text h4 {font-size: 22px;}
    .csv .text ul li p {margin-bottom: 5px;}
    
    footer .inner {width: 95%; min-width: 90%;}
    footer .inner .ftlogo img {width: 90%;}
    footer .inner .copyright {font-size: 14px;}
    footer .inner .sns {display: none;}
    footer a.btn img {width: 90%;}
}


/*414*/
@media screen and (max-width: 414px) {
    header {width: 100%; height: 60px !important; line-height: 60px;}
    header .innerHeader {width: 95%; min-width: 90%;}
    header .innerHeader .logo img {top: 15px; width: 40%;}
    header .innerHeader .gnb {
        display: none;
    }
    
    
    header .gnbMo {
       margin-top: 15px;
        
    }
    header .gnbMo a {width: 100%; height: 100%;}
    header .gnbMo #bar_button i {
        font-size: 25px;
    }
    
    .menu_wrap>ul>li>span {font-size: 17px}
    .menu_wrap ul li ul {font-size: 14px;}
    .menu_wrap #close_menu_button {font-size: 20px;}
    
/*    .main*/
    
    .main .mainTitle {width: 70%}
    .main .mainTitle h1 {font-size: 40px;}
    
    .title {width: 80%; margin: 0 auto;}
    .title h2 {font-size: 20px; margin-bottom: 30px;}
    .title>p {display: none;}
    
    .solution {padding: 40px 10px;}
    .solution>ul>li {
        float: none;
        width: 100%;
    }
    .solution h3 {font-size: 17px; margin: 0;}
    .solution .text ul li {font-size: 12px; line-height: 1.6;}
    .solution>ul>li {margin-bottom: 30px;}
    .solution .btn a {
        font-size: 12px;
        padding: 10px 20px;
    }
    
    .solution .text ul li p:before {top: 7px;}
    .solution>ul>li .text {padding: 0 5px;}
    .solution>ul>li .text ul {display: none;}
    .sharebtn_custom {filter: none;}
    
    .csv {padding: 40px 10px;}
    .csv .inner h3 {
        font-size: 15px;
        width: 100px;
        margin-bottom: 20px;
    }
    .csv .photo {width: 100%; float: none; margin-bottom: 10px;}
    .csv .text {width: 100%; float: none; padding: 0 5px;}
    .csv .text h4 {font-size: 15px; margin-bottom: 10px;}
    .csv .text p {
        font-size: 12px; 
        line-height: 1.3;
        margin-bottom: 10px;
    }
    .csv .inner>ul {margin-bottom: 30px;}
    .csv .text ul {display: none;}
    .csv .text ul li p {font-size: 10px;}
    .csv .text ul li p:before {top: 5px;}
    .csv .inner>ul>li {margin-bottom: 30px;}
    .csv .title p {margin-bottom: 40px;}
    
    footer {height: 120px;}
    footer .inner .ftlogo {
        float: none;
        width: 100%;
        line-height: 0;
        text-align: center;
        margin-top: 15px;
    }
    footer .inner .ftlogo img {
        width: 30%;
    }
    footer .inner .copyright {
        float: none;
        font-size: 10px;
        margin: 15px 0px 0px 35px;
    }
    footer .inner .copyright .list li:nth-child(1) {
    margin-bottom: 10px;
    }
    footer .inner .copyright .list li:after {
        height: 10px;
    }
    footer a.btn {
       top: 65px;
       right: 0px;
    }
    footer a.btn p.img {
        width: 65%;
    }
    
}
